<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    th, td {
  padding: 5px;
  text-align: left;
}
</style>
<body>
    <h1>BIODATA USER </h1>
    <table style="width:100%">
        <tr>
          <th>UserId:</th>
          <td></td>
        </tr>
        <tr>
          <th>Username:</th>
          <td></td>
        </tr>
        <tr>
          <th>Password:</th>
          <td></td>
        </tr>
        <tr>
            <th>City:</th>
            <td></td>
          </tr>
          <tr>
            <th>Gender:</th>
            <td></td>
          </tr>
          
      </table>
      
</body>
</html>