<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Page</title>
  </head>
  <style>
    table, th, td {
      border:1px solid grey;
    }
    </style>
  <body>
    <h1>USER PROFILE</h1>
    <table style="width:100%">
      <tr>
        <th>USER ID</th>
        <th>Username</th>
        <th>Password</th>
        <th>SKOR</th>
        
      </tr>
      <tr>
        <td>1</td>
        <td>Alferdooo	</td>
        <td>Pulsiskiii</td>
        <td>90</td>
      </tr>
      </table>
    <br />
    Username: <%= username %> <br />
    Role: <%= role %> <br />

    <a href="/logout">Logout</a>
  </body>
</html>
